
<p><%= "Artist Listing" %></p>


<% @artists.each do |artist| %>

  <p><%= link_to artist.name, artist %></p>
# is artist.name correct?
<% end %>

<tr>
  <td><%= link_to 'Show', artist %></td>
  <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
  <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>

<%= link_to "New artist", new_artist_path %>
  
