
<p><%= "Show View" %></p>

<h2>Albums by: <%=h @artist.name %></h2>
  
	<div>
		
<label for="choices"><h2>Pick a Way to Sort Albums by: <%=h @artist.name %></h2>


	<p>
		<% form_tag artist_path(@artist), :method => :get do%>
	  <%= select_tag (:choice_id, options_for_select(%w{name date}, 		params[:choice_id]))%>
	<p><%= submit_tag 'Submit' %></p>
	<% end %>
	</p>
	
</div>

<div>

  <table>
    <tr>
      <th> Name </th>
      <th> Date Released </th>
    </tr>
    <%= render :partial => "showalbumsort", :collection => @artist.albums %>

  </table>
</div>
  

  <div>
    <h2>Sorted by Name</h2>

    <table>
      <tr>
        <th> Name </th>
        <th> Date Released </th>
      </tr>
      <%= render(:partial => "showalbumsort", :collection => @artist.albums_by_name) %>

    </table>
  </div>	

  <div>
    <h2>Sorted  by Date</h2>

    <table>
      <tr>
        <th> Name </th>
        <th> Date Released </th>
      </tr>
      <%= render(:partial => "showalbumsort", :collection => @artist.albums_by_date) %>

    </table>
  </div>
		

		
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
<%= link_to 'Albums', albums_path %>