
<p><%= "Show View" %></p>
	
	<div>
		
<label for="choices"><h2>Pick a Way to Sort Albums by: <%=h @artist.name %></h2>


	<p>
		<% form_tag artist_path(@artist), :method => :get do%>
	  <%= select_tag(:choice_id, options_for_select(%w{name date}, 		params[:choice_id]))%>
	<p><%= submit_tag 'Submit' %></p>
	<% end %>
	</p>
	
<div>
	
	<%= render	(:partial => "showalbumsort",
							:collection => @albums_sort) %>
		

		
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
<%= link_to 'Albums', albums_path %>