
	

	<%#= f.label :category %><br>
		<% form_for :Album, :html => {:method => :get} do |form| %>
		
		<div>
		<%= form.label :Sort_by, "Sort by:" %>
		<%= form.select :Sort_by, Album::Music_Types %>


		<div>
		<p><%= submit_tag 'Submit!' %></p>
	<% end %>
	





<p><%= link_to "edit", edit_album_path(@album) %></p>

<p>
  <%#= image_tag @album.photo.url %>
  <%#= image_tag @album.photo.url(:medium) %>
  <%#= image_tag @album.photo.url(:thumb) %>
</p>

<%= link_to "all", albums_path %>

